@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700&family=Roboto:wght@300&display=swap");

body {
  font-family: $font-main;
  background-color: $dark;
  color: $white;
  overflow-x: hidden;
}

a {
  color: $white;
  transition: color 0.2s ease-in;

  &:hover {
    color: $accent;
  }

  // } Для ховеру на компі
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: $accent;
    }
  }
  // Для дотику на телеіоні , бо немає ховеру на телефні
  @media (hover: none) and (pointer: coarse) {
    &:active {
      opacity: 0.5;
    }
  }
}
.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1140px;

  &--sm {
    max-width: 840px;
  }
}

.text-right {
  text-align: right;
}

.title-2 {
  font-size: 36px;
  font-family: $font-accent;
  color: $accent;
  font-weight: 700;

  @include mediaTablet {
    font-size: 28px;
  }
}

.no-scroll {
  overflow-y: hidden;
}

.none {
  display: none !important;
}

// @media (hover: hover) and (pointer: fine) {
//   &:hover {
//     background-color: #000;
//     color: #fff;
//   }
// }

// @media (hover: none) and (pointer: coarse) {
//   &:active {
//     background-color: #000;
//     color: #fff;
//   }
// }
