.apartments {
}

.apartments__title {
  margin-bottom: 88px;
}

.apartments__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

@include mediaTablet {
  .apartments__title {
    margin-bottom: 44px;
  }

  .apartments__cards {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    justify-items: center;
  }
}
