.cta {
  padding: 180px 0;
  background:
    linear-gradient(
      180deg,
      #242b33 10.42%,
      rgba(36, 43, 51, 0) 50.52%,
      #242b33 90.1%
    ),
    linear-gradient(0deg, rgba(36, 43, 51, 0.9) 0%, rgba(36, 43, 51, 0.9) 100%),
    url("../../../images/cta/bg.jpg") no-repeat;
}

.cta__title {
  margin-bottom: 17px;
}

.cta__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.cta__text {
  line-height: 1.5;
}
.cta__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 35px 30px;
}
.ctaQuestion__form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px 30px;
}
.ctaQuestion__title {
  margin-bottom: 40px;
}
@include mediaTablet {
  .cta {
    padding: 60px 0;
  }

  .cta__wrapper {
    grid-template-columns: 1fr;
  }

  .cta__text {
    font-size: 14px;
  }

  .cta__form {
    grid-template-columns: 1fr;
  }
}
