.info {
  font-size: 18px;
  position: relative;

  &--map,
  &--tel {
    padding-left: 35px;

    &::before {
      content: "";

      position: absolute;
      left: 0px;
      top: 0px;
      width: 21px;
      height: 21px;

      background-repeat: no-repeat;
    }
  }

  &--map::before {
    background-image: url("./../../images/header/map.svg");
  }

  &--tel::before {
    background-image: url("./../../images/header/phone.svg");
  }
}

@include mediaTablet {
  .info {
    font-size: 18px;

    &--map,
    &--tel {
      padding-left: 26px;
      height: 18px;
      display: flex;
      align-items: center;
    }
  }
}
